<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suit">
    <listeners>
        <listener class-name="dev.carlos.test.Listeners"></listener>
    </listeners>
    <parameter name="url" value="www.yahoo.com"></parameter>
    <parameter name="APIKEY" value="xyz123"></parameter>
    <test name="Car Loans">
        <classes>
            <class name="dev.carlos.test.carLoans"></class>
        </classes>
    </test>
    <test name="Home Loans">
        <classes>
            <class name="dev.carlos.test.HomeLoans">
            </class>
        </classes>
    </test>
    <test name="My Test">
        <classes>
            <class name="dev.carlos.test.test1"></class>
            <class name="dev.carlos.test.test2"></class>
        </classes>
    </test>
</suite>

